<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Перенаправляем все внутренние пути Sanity Studio на её статический index.html
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^studio/.*$ studio/index.html [L]
</IfModule>
