---
// src/components/about/Marquee.astro
---

<div class="absolute top-0 left-0 w-full overflow-hidden bg-brand-dark text-white py-2 z-10">
    <div class="marquee-wrapper">
        <div class="marquee-track">
            <span class="marquee-item mr-1">
                 СТРОИТЕЛЬСТВО ДОРОГ • АСФАЛЬТИРОВАНИЕ • БЛАГОУСТРОЙСТВО ТЕРРИТОРИЙ • ЗЕМЛЯНЫЕ РАБОТЫ • ИНЖЕНЕРНЫЕ СЕТИ • ГИДРОТЕХНИЧЕСКИЕ СООРУЖЕНИЯ • РЕМОНТ ДОРОЖНЫХ ПОКРЫТИЙ • УСТРОЙСТВО ОСНОВАНИЙ • МОНТАЖ КОММУНИКАЦИЙ •
            </span>
            <span class="marquee-item">
                  СТРОТЕЛЬСТВО ДОРОГ • АСФАЛЬТИРОВАНИЕ • БЛАГОУСТРОЙСТВО ТЕРРИТОРИЙ • ЗЕМЛЯНЫЕ РАБОТЫ • ИНЖЕНЕРНЫЕ СЕТИ • ГИДРОТЕХНИЧЕСКИЕ СООРУЖЕНИЯ • РЕМОНТ ДОРОЖНЫХ ПОКРЫТИЙ • УСТРОЙСТВО ОСНОВАНИЙ • МОНТАЖ КОММУНИКАЦИЙ •
            </span>
        </div>
    </div>
</div>

<style>
    .marquee-wrapper {
        width: 100%;
        overflow: hidden;
    }

    .marquee-track {
        display: flex;
        width: fit-content;
        animation: marquee 25s linear infinite;
    }

    .marquee-item {
        white-space: nowrap;
        padding-right: 0;
    }

    @keyframes marquee {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-50%);
        }
    }
</style>
